#scroll {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
section.page {
  width: 100%;
  height: 100vh;
  position: relative;
  &--blue {
    background-color: $primary-color;
  }
}

.content_section {
  z-index: 100;
  padding: 0 50px;
  margin: 0 auto
}

.centred_bloc {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  z-index: 100;
  height: 100vh;
  width: 100%;
}

.war {
  overflow: hidden;
}

@media screen and (min-width:1200px){
  .content_section {
    padding: 0 100px !important;
  }
}

@media screen and (max-width: 450px){
  .content_section {
    padding: 0 20px !important;
  }
}
