section.splash {
  header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    a {
      z-index: 100;
      color: $text-grey;
      font-size: 24px;
      text-decoration: none;
      font-weight: 600px;
    }
    img {
      width: 250px;
      height: 121px;
    }
  }
}

.baseLine {
  z-index: 100;
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  h1 {
    z-index: 100;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: $text-deep-grey;
    margin-bottom: 20px;
  }
  &__sub {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
  }
}

@media screen and (max-height: 760px){
  .baseLine {
    height: 400px;
    h1 {
      font-size: 50px;
      line-height: 55px;
      margin-bottom: 15px;
    }
    &__sub {
      font-size: 15px;
    }
  }
}
