.services {
  display: flex;
  justify-content: center;
  width: 100%;
  p {
    max-width: 500px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
    strong {
      font-size: 48px;
      word-break: break-all;
    }
    &:first-child {
      margin-right: 80px;
    }
  }
}

@media screen and (max-height: 760px){
  .services {
    p {
      font-size: 18px;
      strong {
        font-size: 38px;
      }
      &:first-child {
        margin-right: 80px;
      }
    }
  }
}

@media screen and (max-width: 760px){
  .services {
    flex-flow: column;
    p {
      font-size: 18px;
      strong {
        font-size: 38px;
      }
      &:first-child {
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .services {
    flex-flow: column;
    p {
      font-size: 14px;
      strong {
        font-size: 25px;
      }
      &:first-child {
        margin-right: 0px;
        margin-bottom: 30px;
      }
    }
  }
}
