{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

<!doctype html>
<html>

  {% include "layouts/head.html" %}

  <body>
    <main id="scroll">
      {% include "layouts/splash.html" %}
      {% include "layouts/WWA.html" %}
      {% include "layouts/WWD.html" %}
      {% include "layouts/team.html" %}
      {% include "layouts/references.html" %}
      {% include "layouts/WAR.html" %}
    </main>

    <script src="js/wow.min.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
