@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesquePro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/BasisGrotesquePro-Light.woff') format('woff'), url('../fonts/BasisGrotesquePro-Light.ttf')  format('truetype'), url('../fonts/BasisGrotesquePro-Light.svg#BasisGrotesquePro-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/BasisGrotesquePro-Regular.woff') format('woff'), url('../fonts/BasisGrotesquePro-Regular.ttf')  format('truetype'), url('../fonts/BasisGrotesquePro-Regular.svg#BasisGrotesquePro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BasisGrotesque';
  src: url('../fonts/BasisGrotesquePro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BasisGrotesquePro-Bold.woff') format('woff'), url('../fonts/BasisGrotesquePro-Bold.ttf')  format('truetype'), url('../fonts/BasisGrotesquePro-Bold.svg#BasisGrotesquePro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
