
@import "_vendor/reboot"; // Bootstrap reboot (basic reset)

// WARNING : you should comment the following @import (variables)
// and move variables file from knacss folder to your own project folder!
@import "_config/variables";

@import "_config/mixins";

// Core Libraries
@import "_library/base";         // basic styles
@import "_library/print";        // print quick reset
@import "_library/layout";       // alignment, modules, positionning
@import "_library/utilities";    // width and spacers helpers
@import "_library/responsive";   // Responsive Web Design helpers
@import "_library/animate";
@import "_library/grillade-flex";

// @import "_library/wordpress"; // WordPress reset and basic styles

// New Grid System by default (Grid Layout). If you prefer old "Flexbox" Grid System, replace file with "_library/grillade-flex"
// Note that none of these file is prefixed by an underscore, in order to compile them.
// @import "_library/flexboxgrid"; // grid system with Grid Layout


// Sections or pages

@import "_layouts/splash";
@import "_layouts/WWA";
@import "_layouts/WWD";
@import "_layouts/contents";
@import "_layouts/main";

// Components
@import "components/media";      // media object
@import "components/skip-links"; // skip links
@import "components/tables";     // data tables consistency
@import "components/forms";      // forms consistency and styles
@import "components/buttons";    // buttons styles
@import "components/checkbox";   // checkbox, radio, switch styles
@import "components/tabs";       // tabs styles
@import "components/arrows";     // arrows styles
@import "components/tags";       // tags styles
@import "components/badges";     // badges styles
@import "components/alerts";     // alerts styles
@import "components/shapes";
@import "components/titles";
@import "components/profils";
