<main id="scroll">
  <section class="page splash" id="one">
    <div class="content_section">
      <header>
        <a href="#"><img src="images/NEW_logo_devinsight.svg" alt=""></a>
        <a href="#">hello@dev-insight.com</a>
      </header>
      <div class="baseLine">
        <h1>Votre équipe d'expert<br> web et mobile.</h1>
        <p class="baseLine__sub">
          Notre expertise en création digitale<br> au service de votre produit.
        </p>
      </div>
    </div>
    <img class="shape splash_1 animated low infinite pulse" src="images/splash_shape_1.png" alt="">
    <img class="shape splash_2 animated low infinite pulse" src="images/splash_shape_2.png" alt="">
  </section>
  <section class="page WWA" id="two">
    <div class="content_section">
      <h2 class="bigTitle">WHO WE ARE</h2>
      <div class="centred_bloc">
        <p class="present"><strong>Nous sommes Dev Insight,</strong><br>
  une équipe de passionnés du digital basé à Rennes. Nous réalisons vos idées innovantes allant du design au développement web et mobile.
  </p>
      </div>
    </div>
    <img class="shape WWA_1 animated low infinite pulse" src="images/WWA_shape_1_test.png" alt="">
    <img class="shape WWA_2 animated low infinite pulse" src="images/WWA_shape_2.png" alt="">
  </section>
  <section class="page" id="three">
    <div class="content_section">
      <h2 class="bigTitle">WHAT WE DO</h2>
      <div class="centred_bloc">
        <div class="services">
          <p>
            <strong>USER EXPERIENCE</strong><br>
            Optimiser un site web ou une application, c'est travailler sur l'adéquation entre les besoins et les attentes de ses utilisateurs, tout en mettant l'accent sur la simplicité d'usage. L'utilisateur est au centre du projet : qui est-il ? quel est son niveau d'expertise sur le web ? quelle est sa connaissance de votre domaine ? que vient-il faire sur votre site ?...
          </p>
          <p>
            <strong>DÉVELOPPEMENT</strong><br>
            Un fonctionnement robuste et rapide de votre application. Réaliser une application ce  n’est pas seulement l’écriture de ligne de code. C’est une architecture, des choix techniques, des tests automatisés, de la documentation, des méthodes…
          </p>
        </div>

      </div>
    </div>
  </section>
  <section class="page" id="for">
    <div class="content_section">
      <h2 class="bigTitle blue">THE TEAM</h2>
      <div class="centred_bloc">
        <img class="masked" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
      </div>
    </div>
  </section>
</main>
