<section class="page page--blue references" id="five">
  <div class="royalSlider rsDefault">
    <div>
      <img class="rsImg" src="images/ref/iPad-White-Angle.png" />
    </div>
    <div>
        <img class="rsImg" src="images/ref/iphone-multiple.png" />
    </div>
    <div>
        <img class="rsImg" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" />
    </div>
    <div>
        <img class="rsImg" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" />
    </div>
  </div>
  <div class="content_section">
    <h2 class="c-title c-title--section c-title--animation u-biggest u-uppercase u-bold">Références</h2>
  </div>
  <img class="shape reference_1 animated low infinite pulse" src="images/WWA_shape_1_test.png" alt="">
</section>
