<section class="page splash" id="one">
  <div class="content_section">
    <header>
      <a href="#"><img src="images/NEW_logo_devinsight.svg" alt=""></a>
      <a href="#">hello@dev-insight.com</a>
    </header>
    <div class="baseLine">
      <h1>Votre équipe d'expert<br> web et mobile.</h1>
      <p class="baseLine__sub">
        Notre expertise en création digitale<br> au service de votre produit.
      </p>
    </div>
  </div>
  <img class="shape splash_1 animated low infinite pulse" src="images/splash_shape_1.png" alt="">
  <img class="shape splash_2 animated low infinite pulse" src="images/splash_shape_2.png" alt="">
</section>
