<section class="page team" id="for">
  <div class="content_section">
    <h2 class="c-title c-title--section c-title--blue u-biggest u-bold">THE TEAM</h2>
    <div class="centred_bloc">
      <div class="mobile-gird grid-3-small-2">
        <div class="c-profil">
          <div class="picture picture--bg_1">
            <img class="masked masked--mask_2" src="images/Pierre.jpg" alt="">
            <div class="bg_shape bg_shape_2"></div>
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_2">
            <img class="masked masked--mask_2" src="images/esteve.jpg" alt="">
            <div class="bg_shape bg_shape_1"></div>
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_1">
            <img class="masked masked--mask_3" src="images/cyrille.jpg" alt="">
            <div class="bg_shape"></div>
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_2">
            <img class="masked masked--mask_2" src="images/alex.jpg" alt="">
            <div class="bg_shape bg_shape_2"></div>
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_1">
            <img class="masked masked--mask_3" src="images/natan.jpg" alt="">
            <div class="bg_shape"></div>
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_2">
            <img class="masked masked--mask_2" src="images/julien.jpg" alt="">
            <div class="bg_shape bg_shape_1"></div>
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>
      </div>
    </div>

  </div>
  <img class="shape team_1 animated low infinite pulse" src="images/WWA_shape_2.png" alt="">
</section>
