<section class="page team" id="for">
  <div class="content_section">
    <h2 class="c-title c-title--section c-title--blue u-biggest u-bold">THE TEAM</h2>
    <div class="centred_bloc">
      <div class="grid-3">
        <div class="c-profil">
          <div class="picture picture--bg_1">
            <img class="masked masked--mask_1" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_2">
            <img class="masked masked--mask_2" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_1">
            <img class="masked masked--mask_3" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_2">
            <img class="masked masked--mask_2" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_1">
            <img class="masked masked--mask_3" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>

        <div class="c-profil">
          <div class="picture picture--bg_2">
            <img class="masked masked--mask_1" src="images/tumblr_ocouy1pbqs1qb4hiyo1_500.jpg" alt="">
          </div>
          <p class="u-bold u-uppercase">Natan Kerbellec</p>
          <p class="u-light">Ux Designer</p>
        </div>
      </div>
    </div>

  </div>
  <img class="shape WWA_2 animated low infinite pulse" src="images/WWA_shape_2.png" alt="">
</section>
