<section class="page page--blue war" id="six">
  <div class="content_section">
    <h2 class="c-title c-title--section u-uppercase u-biggest u-bold">We are ready</h2>
    <div class="centred_bloc">
      <form class="my-form" action="index.html" method="post">
        <fieldset class="material">
      		<input type="text" placeholder="John Doe" autocomplete="off" required>
      		<hr>
      		<label>Nom</label>
      	</fieldset>
        <fieldset class="material">
      		<input type="text" placeholder="john.doe@mail.com" autocomplete="off" required>
      		<hr>
      		<label>Mail</label>
      	</fieldset>
        <fieldset class="material">
      		<input type="text" placeholder="Création d'application" autocomplete="off" required>
      		<hr>
      		<label>Sujet</label>
      	</fieldset>
        <fieldset class="material">
      		<input type="textarea" row="6" placeholder="Création d'application" autocomplete="off" required>
      		<hr>
      		<label>Message</label>
      	</fieldset>
        <button class="c-button center" type="button" name="button">
          Let's go !
        </button>
      </form>
    </div>
    {% include "layouts/footer.html" %}
  </div>
</section>
