<section class="page WWA" id="two">
  <div class="content_section">
    <h2 class="c-title c-title--section u-biggest u-uppercase u-bold">WHO WE ARE</h2>
    <div class="centred_bloc">
      <p class="present"><strong>Nous sommes Dev Insight,</strong><br>
        une équipe de passionnés du digital basé à Rennes. Nous réalisons vos idées innovantes allant du design au développement web et mobile.
      </p>
    </div>
  </div>
  <img class="shape WWA_1 animated low infinite pulse" src="images/WWA_shape_1_test.png" alt="">
  <img class="shape WWA_2 animated low infinite pulse" src="images/WWA_shape_2.png" alt="">
</section>
