<section class="page WWD" id="three">
  <div class="content_section">
    <h2 class="c-title c-title--section u-biggest u-bold">WHAT WE DO</h2>
    <div class="centred_bloc">
      <div class="services">
        <p>
          <strong>USER EXPERIENCE</strong><br>
          Optimiser un site web ou une application, c'est travailler sur l'adéquation entre les besoins et les attentes de ses utilisateurs, tout en mettant l'accent sur la simplicité d'usage. L'utilisateur est au centre du projet : qui est-il ? quel est son niveau d'expertise sur le web ? quelle est sa connaissance de votre domaine ? que vient-il faire sur votre site ?...
        </p>
        <p>
          <strong>DÉVELOPPEMENT</strong><br>
          Un fonctionnement robuste et rapide de votre application. Réaliser une application ce  n’est pas seulement l’écriture de ligne de code. C’est une architecture, des choix techniques, des tests automatisés, de la documentation, des méthodes…
        </p>
      </div>

    </div>
  </div>
</section>
